@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 201.82 24.44% 8.82%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --pras-logo: none;
    --shaded: 262 92% 51%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 5.56% 92.94%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --pras-logo: brightness(0) saturate(100%) invert(100%) sepia(0%)
      saturate(7454%) hue-rotate(22deg) brightness(101%) contrast(86%);
    --shaded: 262 92% 51%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  img {
    @apply select-none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .allow-default * {
    all: revert;
  }

  .pras-logo {
    filter: var(--pras-logo);
  }

  .grad-travel {
    animation: travel 15s ease-in-out forwards infinite;
  }

  strong {
    @apply text-muted-foreground bg-muted font-mono font-medium px-1 py-[2px] rounded;
  }

  @keyframes travel {
    0% {
      top: 0;
      left: 0;
      filter: hue-rotate(0deg);
      rotate: -90deg;
    }
    50% {
      top: 100%;
      left: 100%;
      filter: hue-rotate(360deg);
      rotate: 360deg;
    }
    100% {
      top: 0;
      left: 0;
      filter: hue-rotate(0deg);
      rotate: -90deg;
    }
  }

  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }

    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }

    100% {
      top: 0%;
    }
  }

  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }

    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }

    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }

  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
}
@layer chatTheme {
  :root {
    --chat: #ffffff;
    --chat-muted: #e9eaed;
    --chat-secondary: #ffffff;
    --chat-deep: #ebeaea;
  }

  .dark {
    --chat: #282a2d;
    --chat-muted: #353535;
    --chat-secondary: #2e3033;
    --chat-deep: #18191b;
  }

  .str-chat {
    input,
    textarea {
      @apply !bg-transparent !text-foreground;
    }

    .str-chat__thread-container {
      @apply !absolute !inset-0;

      .str-chat__thread-start {
        @apply !hidden;
      }

      .str-chat__close-thread-button {
        @apply !flex !items-center !justify-center !rounded-full !bg-transparent hover:!bg-chat-deep !transition-all !duration-300;

        svg {
          @apply !w-6 !h-6;

          path {
            @apply !fill-muted-foreground;
          }
        }
      }
    }
    .str-chat__channel-header,
    .str-chat__thread-header,
    .str-chat__thread-container {
      box-shadow: 0 7px 9px #00000008, 0 1px 0 #00000008 !important;
      @apply !bg-chat-secondary !z-50 !text-sidebar-foreground !border-0;

      .str-chat__channel-header-info {
        @apply !text-muted-foreground;
      }
    }

    .str-chat-react__modal__inner {
      &:has(.image-gallery) {
        @apply !w-[calc(100%-2rem)] md:!w-[80%] !rounded-lg;
      }

      &:not(:has(.image-gallery)) {
        @apply !w-[calc(100%-2rem)] md:!w-[50%] !bg-chat-secondary !text-sidebar-foreground !rounded-lg !shadow-md !py-5;
      }

      .str-chat__edit-message-form-options {
        @apply !flex !justify-between !w-full;
      }

      button:not(.image-gallery-icon) {
        @apply !w-full !capitalize !py-2 !rounded;

        &:hover {
          @apply !bg-muted !font-medium !transition-all !duration-300;
        }
      }
    }

    .str-chat__thread-container .str-chat__message-list-main-panel {
      @apply !h-full;

      .str-chat__parent-message-li {
        @apply !border-muted-foreground/50;
      }
    }

    .str-chat__list,
    .str-chat__empty-channel {
      @apply !bg-chat;

      .str-chat__message-bubble {
        @apply !bg-background !border-solid !border !border-muted-foreground/40 dark:!border-none dark:!bg-chat-muted !text-foreground;
      }

      .str-chat__message--me .str-chat__message-bubble {
        @apply !border-none !bg-chat-deep !text-foreground;
      }

      .str-chat__message-reaction {
        @apply !bg-chat-muted !text-foreground;
      }
    }

    .str-chat__date-separator-line {
      @apply !bg-muted-foreground/50;
    }

    .str-chat__message-attachment-file--item {
      @apply !bg-transparent !text-foreground;
      .str-chat__message-attachment-download-icon path {
        @apply !fill-foreground;
      }
    }

    .str-chat__message .str-chat__message-options {
      button {
        &:hover {
          @apply !bg-chat-muted !text-foreground;
        }

        &:active {
          @apply !bg-[#3a0085] !text-foreground;
        }
      }
    }

    .str-chat__list-notifications {
      @apply !bg-transparent !m-0 !px-4 !absolute !bottom-16 !left-1/2 !-translate-x-1/2 !z-50 !w-[calc(100vw-2rem)] md:!w-auto;

      .str-chat__message-notification {
        width: 100px !important;
      }
    }

    .str-chat__avatar-image {
      @apply !bg-transparent;
    }

    .str-chat__message-input {
      box-shadow: -1px -7px 9px #00000008, 0px -7px #00000008 !important;
      @apply !bg-chat-secondary !text-foreground !px-0;

      .str-chat__attachment-preview-file {
        @apply !bg-muted !text-foreground !border-none;
      }

      .str-chat__attachment-preview-delete {
        @apply !w-5 !aspect-square !top-0 !right-2 !bg-transparent !text-foreground !border-none;

        &:hover {
          @apply !bg-transparent;
        }
      }

      .str-chat__message-textarea-container {
        @apply !border-2 !border-muted-foreground/20 !transition-all !duration-300;

        &:focus-within {
          --border: var(--str-chat__message-send-color);
          @apply !border-[var(--border)];
        }
      }

      .str-chat__suggestion-list-container {
        @apply !bg-chat-muted !text-foreground;

        .str-chat__suggestion-list {
          .str-chat__suggestion-item--selected {
            @apply !bg-primary-foreground/50;
          }
        }
      }

      span {
        @apply !text-foreground;
      }
    }

    .str-chat__reaction-selector .str-chat__message-reactions-options {
      @apply !bg-chat-muted !text-foreground;

      li button {
        @apply !bg-transparent !text-foreground;
      }

      .str-chat__message-reaction-emoji div {
        --str-chat__sprite-image-height: var(
          --str-chat__stream-emoji-size,
          25px
        ) !important;
      }
    }

    .str-chat__message-actions-box {
      @apply !bg-chat-muted shadow-[0_0_8px_#000c] !rounded-sm;

      .str-chat__message-actions-list-item-button {
        @apply !bg-transparent !text-[13px] !text-foreground !px-3 !py-2;

        &:hover {
          @apply dark:!bg-muted/50 !bg-muted;
        }
      }
    }

    .str-chat__message--deleted-inner {
      @apply !bg-chat-muted !text-foreground/70;
    }

    .str-chat__unread-messages-separator {
      @apply !bg-chat-muted !text-foreground;
    }

    .str-chat__quoted-message-preview-header {
      @apply !border-t !px-2;

      .str-chat__quoted-message-reply-to-message {
        @apply !text-left;
      }

      .str-chat__quoted-message-remove {
        @apply !flex !items-center !justify-end;
      }
    }

    .str-chat__message-text {
      .str-chat__quoted-message-preview {
        @apply !opacity-50 !cursor-pointer !transition-all !duration-300;

        &:hover {
          @apply !opacity-100;
        }
      }
    }

    .str-chat__message--highlighted {
      @apply dark:!bg-chat-secondary !bg-gray-300 !rounded;
    }

    .str-chat__quoted-message-preview {
      @apply !w-full;

      .str-chat__avatar {
        @apply !hidden;
      }

      .str-chat__quoted-message-bubble {
        @apply !bg-transparent !text-foreground !p-0;
      }
    }

    .str-chat__message-attachment {
      @apply !p-0;
      background: transparent !important;
    }

    .str-chat__modal__close-button {
      @apply !bg-transparent !text-foreground !p-0 !m-0 !w-6 !h-6 !rounded-full !absolute !top-5 !right-5;

      svg {
        rect,
        circle {
          @apply !fill-none;
        }
        path {
          @apply !fill-muted-foreground cursor-pointer;
        }
      }
    }
  }
}
