@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant hover (&:hover);

@theme {
  --transition-duration-1500: 1500ms;
  --transition-duration-2000: 2000ms;
  --transition-duration-3000: 3000ms;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-shaded: hsl(var(--shaded));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --color-chat: var(--chat);
  --color-chat-muted: var(--chat-muted);
  --color-chat-secondary: var(--chat-secondary);
  --color-chat-deep: var(--chat-deep);
  --color-chat-primary: var(--chat-primary);
  --color-chat-accent: var(--chat-accent);
  --color-chat-border: var(--chat-border);
  --color-chat-text: var(--chat-text);
  --color-chat-muted-text: var(--chat-muted-text);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-frozito: frozito;
  --font-icons: icons;

  --animate-grad-travel: travel 15s ease-in-out forwards infinite;

  @keyframes travel {
    0%,
    100% {
      top: 0;
      left: 0;
      filter: hue-rotate(0deg);
      rotate: -90deg;
    }
    50% {
      top: 100%;
      left: 100%;
      filter: hue-rotate(360deg);
      rotate: 360deg;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 210 5.56% 92.94%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --pras-logo: brightness(0) saturate(100%) invert(100%) sepia(0%)
      saturate(7454%) hue-rotate(22deg) brightness(101%) contrast(86%);
    --shaded: 262 92% 51%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --scrollbar-visibility: none;
  }
}

@utility scrollbar-auto {
  scrollbar-width: auto;
  -ms-overflow-style: auto;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    @apply block w-1.5 cursor-pointer;
  }

  &::-webkit-scrollbar-thumb {
    @apply block h-1 hover:!bg-muted-foreground/40 !bg-muted-foreground/30 hover:py-2 cursor-pointer rounded-full;
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility pras-logo {
  filter: var(--pras-logo);
}

@utility icons {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply font-icons;
}

@layer base {
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  button,
  img {
    @apply select-none;
    -webkit-user-drag: none;
  }

  img {
    @apply select-none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  strong,
  b {
    @apply text-muted-foreground bg-muted font-mono font-medium px-1 py-[2px] rounded;
  }

  @font-face {
    font-family: "frozito";
    font-style: normal;
    font-display: swap;
    src: url(/fonts/frozito.ttf) format("truetype");
  }

  @font-face {
    font-family: "icons";
    src: url("/icons/icons.eot?4ca6v4");
    src: url("/icons/icons.eot?4ca6v4#iefix") format("embedded-opentype"),
      url("/icons/icons.ttf?4ca6v4") format("truetype"),
      url("/icons/icons.woff?4ca6v4") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  #nd-tocnav {
    display: none;
  }

  .fd-scroll-container {
    @apply scrollbar-auto;
  }

  .scrollbar-auto-light {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
  }

  .scrollbar-auto-light::-webkit-scrollbar:vertical,
  .scrollbar-auto-light::-webkit-scrollbar-track:vertical {
    @apply block w-1 cursor-pointer;
  }

  .scrollbar-auto-light::-webkit-scrollbar:horizontal,
  .scrollbar-auto-light::-webkit-scrollbar-track:horizontal {
    @apply block h-1 hover:bg-muted-foreground/40 hover:py-2 cursor-pointer;
  }

  .scrollbar-auto-light::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground rounded-full cursor-pointer hover:my-2 hover:bg-muted-foreground/80;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
